body.mainPage{
    margin: 0 auto;
    margin-top: 70px;
    background: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes fadeIn{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

/* Show the dropdown when hovering over the parent <li> */
li:hover > ul.dropdown {
  display: block;
}

/* Style the dropdown links */
ul.dropdown li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* Hover effect for dropdown items */
ul.dropdown li a:hover {
  background-color: rgba(255, 255, 255,.2);
}

ul.navBar li.navRightSide {
    margin: auto 40px auto auto;
    color: white;
    padding: 10px 20px;
}

.mainBody{
    padding-top: 105px;
    background: aqua;
}

/* Work on this after Monday's class
.openingBlock{
    display: flex;
}
*/

.openingText, .boxes{
    max-width: 1080px;
}

.openingText{
    background: purple;
    color: white;
    text-align: justify;
    margin: 0 auto;
    padding: 20px 20px 40px;
}

.openingText h1{
    background: blue;
    margin: 0 0 20px;
    padding: 0 40px;
}

.openingText p{
    background: black;
    font-size:18px;
    padding:0 40px;
}

.boxes{
    background: red;
    margin:0 auto;
    padding: 20px;
    display: flex;
    text-decoration: none;
}

.boxes a{
    text-decoration: none;
}

.leftBox, .midBox, .rightBox{
    transition: all 0.2s ease-in-out;
    width: 30%;
    max-width: 370px;
    height: 340px;
    margin: 10px auto;
    color:white;
    text-align: center;
}
.leftBox{
    background: green;
}
.midBox{
    background: teal;
}
.rightBox{
    background: yellow;
}

.leftBox:hover, .midBox:hover, .rightBox:hover{
    transition: all 0.5s ease-in-out;
    width: 50%;
}

footer{
    color: white;
    background:linear-gradient(180deg, rgb(99, 4, 107),rgb(175, 8, 105));
}

.footerBar p{
    margin: 0 20px 20px auto;
    padding: 10px 20px;
    text-align: right;
}