<!-- The footer page -->

<footer class="footer py-4 bg-light">
  <div class="container d-flex justify-content-between align-items-center">
    
    <!-- Little message down the bottom left -->
    <p class="mb-0">&copy; Dunshaughlin, My Hometown</p>

    <!-- Button link to the JS that returns the user to the beginning of the page.
        More about this in the JS page -->
    <button id="scrollToTopBtn" class="btn btn-primary qa-btn">
      Return to Top
    </button>
  </div>
</footer>