<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tester </title>
    <link rel="stylesheet" href="styleTest.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<footer class="bg-light text-center py-3 mt-4">
  <div class="container">
    <p>© 2025 My Hometown. All rights reserved.</p>
  </div>
</footer>

</div>
</body>
</html>